body {
  background-color: #828a95;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  align-items: top;
  display: content;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: row;
}

.menu {
  display: flex;
  position: absolute;
  left: -100;
}
.menu .sidebar {
  font-size: 0;
}
.menu .sidebar.active {
  display: flex;
  align-self: left;
  justify-content: top;
  font-size: 1em;
  transition: 0.5s;
}
.menu .sidebar.active ul {
  width: 100%;
  padding: 0;
  margin: 0;
  word-break: break-word;
}
.menu .sidebar.active li {
  background-color: #ec9d75;
  width: 100%;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
}
.menu .sidebar.active li:hover {
  background-color: #828a95;
}
.menu .menu-button {
  height: 2em;
  background-color: #ec9d75;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.menu-button:hover {
  background-color: #828a95;
}

.menu-button.active:hover {
  background-color: #828a95;
}

.menu.active {
  display: flex;
  background-color: #ec9d75;
  flex-direction: column;
  position: absolute;
  transition: 0.5s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 4em;
  left: 0;
  z-index: 100;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.table {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  display: none;
  overflow: scroll;
  position: relative;
}
.table.active {
  display: block;
  border: 0.2em solid #ec9d75;
  border-radius: 0.2em;
  color: #191716;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1em auto;
  width: 90%;
}

.row-header {
  font-size: 1em;
  font-weight: bold;
  background-color: #d8d1cd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.row-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  background-color: #ec9d75;
}

.table-row {
  background-color: white;
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
  min-height: 10vh;
  position: relative;
  text-align: left;
  justify-content: space-evenly;
}

.content {
  padding: 32px;
  box-sizing: border-box;
  display: row;
  overflow: hidden;
}

.swipe-element {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.swipe-front {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

.table-field-container {
  background-color: white;
  min-height: 10vh;
  position: absolute;
  touch-action: none;
  width: 100%;
  z-index: 999;
  display: flex;
}

.table-field {
  margin: 0.5em;
  white-space: nowrap;
  justify-content: space-evenly;
  flex-grow: 2;
}

.table-icons-container {
  position: absolute;
  width: 100%;
  z-index: 997;
}
.table-icons-container .table-icons {
  display: none;
  min-height: 10vh;
}
.table-icons-container .table-icons svg {
  height: 1.5em;
  width: 1.5em;
}
.table-icons-container .table-icons svg path {
  fill: white;
}
.table-icons-container .table-icons#swipe-active {
  display: block;
}
.table-icons-container .table-icons.edit-button {
  background-color: #aae9aa;
  text-align: left;
}
.table-icons-container .table-icons.edit-button svg {
  margin-left: 1em;
  margin-top: 1em;
}
.table-icons-container .table-icons.delete-button {
  background-color: #e78d8d;
  text-align: right;
}
.table-icons-container .table-icons.delete-button svg {
  margin-right: 1em;
  margin-top: 1em;
}

.form {
  background-color: white;
  display: none;
  width: 100%;
}
.form.active {
  display: block;
  background-color: #d8d1cd;
  border: 0.4em solid #ec9d75;
  border-radius: 0.5em;
  font-size: 1.25em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1em auto;
  width: 80%;
  display: block;
}

.pannel-form {
  display: none;
}

.pannel-form.active {
  display: block;
}

.form_group {
  margin: 1em auto;
  width: 90%;
}

.form_label {
  margin-bottom: 1em;
  width: 100%;
}

.form_label label {
  color: #191716;
  font-weight: bold;
  width: 100%;
  margin: 0.2em;
}

.form_input input {
  width: 90%;
  margin: 0.2em;
}

.form_input textarea {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

.form-topbar-options {
  display: none;
}

.form-topbar-options.active {
  background-color: #ec9d75;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 6.5em;
  right: 5.5em;
  transition: 0.5s;
  width: 15%;
  z-index: 10;
  position: fixed;
}
.form-topbar-options.active ul {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
}
.form-topbar-options.active li {
  background-color: #ec9d75;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  cursor: default;
}
.form-topbar-options.active li:hover {
  background-color: #828a95;
}

.send {
  margin: 1em;
}
.send button {
  height: 1.5em;
}
.send button:hover {
  background-color: #f1834b;
  border: 0.1em solid #191716;
  border-radius: 0.2em;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 1.5em;
  margin: 0.5em;
  align-items: center;
  width: 100%;
}
.form-buttons .send {
  height: 1em;
}
.form-buttons .switch {
  position: relative;
  bottom: 0.75em;
}
.form-buttons .button-create {
  margin: 0.5em;
}

.bottombar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  top: 90vh;
  width: 100%;
  z-index: 1001;
}
.bottombar .bottombar-item {
  background-color: #ec9d75;
  text-align: center;
  width: 50%;
}
.bottombar .bottombar-item.bottombar-active {
  background-color: #e07640;
}
.bottombar .bottombar-item svg {
  height: 1.5em;
  padding: 1em;
  width: 1.5em;
}
.bottombar .bottombar-item svg path {
  fill: white;
}

.table-filter {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  width: 100%;
  z-index: 10;
}
.table-filter.filter-active .table-filter-container {
  max-height: 70vh;
  background-color: #ec9d75;
  position: relative;
  top: 0;
}
.table-filter .filter-form {
  display: flex;
  flex-direction: column;
}
.table-filter .table-filter-container {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  padding-left: 4em;
}
.table-filter .table-filter-container form {
  padding: 1em;
}
.table-filter .table-filter-buttons {
  width: 100%;
}
.table-filter .table-filter-buttons .table-filter-button {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 100%;
  text-align: center;
}
.table-filter .table-filter-buttons .table-filter-button.button-active {
  max-height: 10vh;
  height: 2em;
  padding: 1em 0;
}
.table-filter .table-filter-buttons .table-filter-button.open-filter {
  background-color: #ec9d75;
}
.table-filter .table-filter-buttons .table-filter-button.apply-filter {
  background-color: #b0b0b0;
  height: 2em;
}
.table-filter .table-filter-buttons .table-filter-button.remove-filter {
  background-color: #d74242;
}
.table-filter .table-filter-buttons .table-filter-button svg {
  height: 1.5em;
  padding: 0.5em;
  width: 1.5em;
}
.table-filter .table-filter-buttons .table-filter-button svg path {
  fill: white;
}

.pop-up {
  background-color: white;
  transform: translateY(-200%);
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -10%;
  transition: transform 0.5s;
  width: 70%;
  z-index: 3000;
}
.pop-up.active {
  top: 10em;
  transform: translateY(0);
  z-index: 5000;
}
.pop-up .message {
  background-color: grey;
  border-bottom: 1px solid #e9ecef;
  padding: 0.5em 1em;
  text-align: center;
}
.pop-up .modal-delete-footer {
  display: flex;
}
.pop-up .modal-delete-footer .delete-option-button {
  color: white;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  width: 50%;
}
.pop-up .modal-delete-footer .delete-option-button#cancel-delete {
  background-color: #02a8b1;
}
.pop-up .modal-delete-footer .delete-option-button#confirm-delete {
  background-color: #d74242;
}

.table-pagination {
  display: none;
}

.messages-container {
  position: fixed;
  top: 1em;
  right: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 30;
}
.messages-container.show {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.messages-container .message {
  display: none;
  text-align: left;
  padding: 0.5em 0;
  background-color: whitesmoke;
  border-radius: 4px;
  max-width: 100%;
  top: 0.5em;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.messages-container .message.success.message-active {
  display: block;
  border-left: 0.5em solid #287a28;
}
.messages-container .message.error.message-active {
  display: block;
  border-left: 0.5em solid #7a2828;
}
.messages-container .message .message-content {
  padding-right: 4em;
  padding-left: 2em;
}
.messages-container .message .message-content .message-type {
  color: #3d3d3d;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.messages-container .message .message-content .message-description {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}
.messages-container .message .message-close {
  cursor: pointer;
  fill: #3d3d3d;
  height: 1.5em;
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

/* The switch - the box around the slider */
.visible {
  width: 10%;
  height: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-color: #ec9d75;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ec9d75;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec9d75;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.locale-tabs {
  background-color: #f5c8b2;
}

.locale-tabs-container {
  display: flex;
  justify-content: space-between;
}

.locale-tabs-container-menu {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #f5c8b2;
}
.locale-tabs-container-menu ul {
  background-color: #f5c8b2;
  display: flex;
  margin: 0;
  padding: 0;
}
.locale-tabs-container-menu li {
  color: black;
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  list-style: none;
  width: 50%;
}
.locale-tabs-container-menu li.locale-tab-active {
  background-color: #ec9d75;
  color: black;
}

.locale-tab-panel {
  display: none;
}

.locale-tab-panel.locale-tab-active {
  display: block;
}
.locale-tab-panel.locale-tab-active .form-group {
  margin: 1em 0;
}
.locale-tab-panel.locale-tab-active .form-group .form-label {
  margin: 0.5em 0;
}

.locale-tab-panel {
  display: none;
}

.locale-tab-panel.tab-active {
  display: block;
  padding: 0.5em 0.5em;
}

.drop-zone {
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #313030;
  border: 4px dashed #ec9d75;
  border-radius: 10px;
  margin: 0.5em 0;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  background-color: #f5c8b2;
}

.tabs-container-menu {
  width: 40%;
  background-color: #f5c8b2;
}
.tabs-container-menu ul {
  background-color: #f5c8b2;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.tabs-container-menu li {
  color: black;
  cursor: pointer;
  padding: 0.5em 0.5em;
  text-align: center;
}
.tabs-container-menu li.tab-active {
  background-color: #ec9d75;
  color: black;
}

.tab-panel {
  display: none;
}

.tab-panel.tab-active {
  display: block;
  padding: 0.5em 0.5em;
}

.upload {
  align-items: center;
  border: 0.2em dashed #ec9d75;
  color: #cccccc;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  height: 30vh;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

.upload:hover {
  border: 4px dashed #f5c8b2;
}

.upload-over {
  border-style: solid;
}

.upload-view {
  position: relative;
}

.upload-prompt {
  position: absolute;
  width: 15%;
  z-index: 999;
}

.upload-input {
  display: none;
}

.upload-thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.upload-thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.upload-multiple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.see-more {
  position: absolute;
  z-index: 3;
  left: 40%;
  top: 50%;
}
.see-more svg:hover path {
  fill: black;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* Container
   ========================================================================== */
.container {
  width: 100%;
  padding: 0;
}

/* Bootstrap */
.navbar-expand-lg {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

label {
  margin-bottom: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

.row {
  margin: 0;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
  padding: 0;
}
