.title-faqs{
    font-size: 1.2em;
    text-align: left;
}

.faqs{ 
    margin:auto;
    width: 90%;
}

.title{
    background-color: rgb(216, 209, 205);
    border:1px solid black;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    margin: 0.1em 0;
    padding: 0.5em 0 0 0.5em;
    text-align: left;
    width: 100%;
}

.description{
    background-color: white;
    border:1px solid black;
    max-height: 0vh;
    opacity: 0%;
    overflow: hidden;
    transition: 0.5s;
    width: 100%;
}

.description.active{
    background-color: white;
    border:1px solid black;
    font-size: 1em;
    height: max-content;
    margin: 0.2em 0;
    opacity: 100%;
    padding: 0.5em 0 0 0.5em;
    text-align: left;
    transition: 0.5s;
    width: 100%;
    word-break: break-word;
    max-height: 100vh;
    
}

.button {
    margin-right: 0.2em;
    transform: translateY(-15%);
}
