body{
    background-color: rgb(130, 138, 149);
}
.main {
    align-items: top;
    display: flex;
    flex-flow: row, wrap;
    justify-content: space-evenly;
    width: 100%; 

        .two-columns{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
}