body{
    background-color: rgb(173, 173, 173);
    
}

.main {
    display: flex;
    flex-flow: row, wrap;
    align-items: top;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh; 
    margin-top: 1em;

        .two-columns{
            display: flex;
            justify-content: space-evenly;
            width: 80%;
            height: max-content;
      
}
