.form{
    background-color: rgb(216, 209, 205);
    border: 0.5em solid  rgb(236, 157, 117);
    border-radius: 0.5em;
    height: max-content;
    margin: 6em 0.5em;
    width: 40%;
}

.pannel-form{
    display: none;
}
.pannel-form.active{
    display: block;

}
.form_group{
    width:90%;
}
.form_group_column {
    column-count: 2;
    column-gap: 0.2em;
    margin: 0.5em;
    width:100%;
    select{
        width: 90%;
    }
    }

.form_label {
    margin-bottom: 1em;
    width: max-content;
    }

.form_label label {
    color: rgb(25, 23, 22);
    font-weight: bold;
    width:100%; 
    }


.form_input input {
    width:90%;
    }

.form_input textarea {
    height: max-content;
    width:100%;
    }

.form_submit {
    margin: 1em;
    width: 20%;

    button:hover{ 
        background-color:rgb(241, 131, 75) ;
        border: 0.1em solid rgb(25, 23, 22);
        border-radius: 0.2em;
    }
}

.form-topbar-options{
    display: none;
    }

.form-topbar-options.active{
    background-color: rgb(236, 157, 117);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    display:block;
    position: absolute;
    top: 6.5em; right:5.5em;
    transition: 0.5s;
    width: 15%;
    z-index: 10;
    position: fixed;
    ul{
        margin:0;
        padding:0;
        width: 100%;
        word-break: break-word; 
    }

    li{
        background-color: rgb(236, 157, 117);
        font-weight: bold;
        padding:0.5em 0 0.5em 0.5em;
        width: 100%;
        cursor: default;
    }

    li:hover {
        background-color: rgb(130, 138, 149);
    } 
    }
    
.icon {
    position: fixed;
    z-index: 100;
    background-color: rgb(236, 157, 117);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 1.5em;
    width: 1.5em;
    position: fixed;
    top:5em; right:5em;
    border-radius: 50%;
  
    }
    

.icon:hover{background-color: rgb(130, 138, 149);}
.icon.active:hover{background-color: rgb(130, 138, 149);}

.form-row{
    display: flex;
    flex-direction: row;
    width: max-content;
    position: relative;
    left: 23em; top:1em;
    z-index: 2;   
}
.form-row-panel{
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 1em 0.5em;
    
    .form-group{
        margin-right: 2em;
        
        .form-label{
            margin:0.5em 0;
        }
    }
}

