.image-details{
    display: none;
    &.active{
        display: flex;
        width: 90%;
        height: 90vh;
        border: 0.5em solid  rgb(236, 157, 117);
        border-radius: 0.5em;
        color:black;
        position: fixed;
        top: 3em; left:3em;
        margin:auto;
        background-color: rgb(216, 209, 205);
        z-index: 15;
        box-shadow: 15px 10px 10px 5px rgba(0, 0, 0, 0.2);
    }
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 30%;

}
.inputs label{
    justify-content: left;
}
.inputs input{
    width: 100%;
}
.image-view{
    border: 0.2em solid  rgb(236, 157, 117);
    border-radius: 0.2em;
    width: 60%;
    height: 70vh;
    margin:1em;
    display: flex;
    justify-content: center;
}

.delete-image{
    transform:scale(2.5);
    position: relative;
    top:15em; 

}