body{
    background-color: rgb(130, 138, 149);
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    align-items: top;
    display: flex;
    width: 100%; 
    height: 100vh;

        .two-columns{
            display: flex;
            width: max-content;
            align-content: space-evenly;
            margin:1em;
        }     
        .sidebar{
            background-color: rgb(236, 157, 117);
            width: 10%;
            height: 100vh;
            display: flex;
            align-self: left;
            justify-content: top;
         
            ul{
                width: 100%;
            }
        
            li{
                width: 100%;
                font: 1em;
                font-weight: bold;
                margin-bottom: 0.5em;
                
            }

            li:hover {
                background-color: rgb(130, 138, 149);
            }   
        }
        
}
