#upload-image-modal{

    display: none;
}

#upload-image-modal.modal-active{
    display: flex;
    width: 90%;
    height: max-content;
    border: 0.5em solid  rgb(236, 157, 117);
    border-radius: 0.5em;
    color:black;
    position: fixed;
    top: 3em; left:3em;
    margin:auto;
    background-color: rgb(216, 209, 205);
    z-index: 15;
    box-shadow: 15px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.modal-image{
    padding: 1em;
    width: 65%;
}

#modal-image-original{
    height: 100%;
    width: 100%;
}

.modal-image-attributes{
    padding: 1em;
    width: 30%;
}

.modal-image-store-button{

    cursor: pointer;
    position: absolute;
    right: 1em; top: 1em;

    &:hover{

        .store-button-icon{
            fill: rgb(236, 157, 117);
        }
    }

    svg{
        float: right;
        height: 2.4em;
        width: 2.4em; 
        
        .store-button-icon{
            fill: black;
        } 
    }
}

.modal-image-delete-button{

    bottom: 1em;
    cursor: pointer;
    position: absolute;
    width: max-content;

    p{
        color: rgb(122, 40, 40);
        text-decoration: underline;
    }
}
.form-group{
    padding: 1em 0;
}
