
.menu{

    display:flex;
    position: absolute;
    top: 5em; left:-100;
    transition: 0.5s;
    
    .sidebar{
        font-size:0;
    }
    
    .sidebar.active{
     
        align-self: left;
        display: flex;
        font-size: 1em;
        justify-content: top;
        transition: 0.5s;
        
        ul{
            margin:0;
            padding:0;
            width: 100%;
            word-break: break-word; 
        }
    
        li{
            background-color: rgb(236, 157, 117);
            font-weight: bold;
            padding:0.5em 0 0.5em 0.5em;
            width: 100%;
            cursor: default;
        }
    
        li:hover {
            background-color: rgb(130, 138, 149);
        }   
    }
}

.menu.active{
    background-color: rgb(236, 157, 117);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction:column;
    position: absolute;
    top: 4em; left:0;
    transition: 0.5s;
    width: 15%;
    z-index: 10;
    position: fixed;
    }
    
.menu-icon {
    position: fixed;
    z-index: 100;
    background-color: rgb(236, 157, 117);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 2em;
    padding: 1em;
    position: fixed;
    top:0; left:0;
  }
  

.menu-icon:hover{background-color: rgb(130, 138, 149);}
.menu-icon.active:hover{background-color: rgb(130, 138, 149);}


.form-1, .form-2, .form-3 {
    width: 2em;
    height: 0.4em;
    background-color: black;
    margin: 0.3em 0;
    transition: 0.3s;
    }

.form-1.active {
    transform: rotate(-45deg) translate(0, 0.5em);
    background-color: white;
    }

.form-3.active {
    transform: rotate(45deg) translate(-0.5em, -1em);
    background-color: white;
    }

.form-2.active {
    opacity: 0;
    }