.tabs-container{
    display: flex;
    justify-content: space-between;
}

.tabs-container-menu{

    width: 40%;
    position: static;

    ul{
        background-color: rgb(245, 200, 178);
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        top:-2.5em;
        z-index: 0;
    }

    li{
        color:black;
        cursor: pointer;
        padding: 1em 0.5em;
        text-align: center;
    }

    li.tab-active{
        background-color: rgb(236, 157, 117) ;
        color: black;
    }
}

.tab-panel{
    display: none;
}

.tab-panel.tab-active{
    display: block;
    padding: 2em 2.5em;
}