.table-pagination{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 157, 117);
    font-weight: bold;
    height: max-content;
    font-size: 0.75em;

    p{
        margin: 0.5em 0;
        padding: 0;
    }
        
    .table-pagination-button{
        justify-content: space-evenly;
        cursor: pointer;
        margin: 0 0.5em;

    }
}
