.message{
    position: absolute;
    top: -4em; right: 0.5em;
    background-color:whitesmoke;
    width: 30%;

        &#message-succes{
            
            &.active{
                border-left: solid 0.2em rgb(38, 146, 38);
                position: absolute;
                top: 4.5em; right: 0.5em;
                padding: 0.5em;
                z-index: 100;
                transition: 0.5s;
                animation-duration:  0.5s;
                animation-fill-mode: forwards;
                display:block;
                justify-content: right;
            }
        }
        &#message-error{
            &.active{
                border-left: solid 0.2em rgb(146, 45, 38);
                position: absolute;
                top: 4.5em; right: 0.5em;
                padding: 0.5em;
                z-index: 100;
                transition: 0.5s;
                animation-duration:  0.5s;
                animation-fill-mode: forwards;
                display:block;
                justify-content: right;
            }
        }
    }

.message-close {
    cursor: pointer;
    fill: hsl(0, 0%, 24%);
    height: 1.5em;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
}