.shirts-multiple{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.shirt-multiple{
    display: flex;
    justify-content: left;
    margin: 0.5em auto;
    position:relative;

}

.shirts-multiple-title{

    border: solid 1px black;
    text-align: center;
}

.shirt-multiple-title{
    height: max-content;
    border: solid 1px black;
    margin: 0.5em 0em;

}
.shirt-description-image-grid{
    display: flex;
    flex-direction: row;
    width: 250px;
    height: 270px;
    overflow: hidden;
 
}
