.form{

	background-color: rgb(255, 255, 255);
	display: none;
	width: 100%;

	&.active{
		display: block;
        background-color: rgb(216, 209, 205);
        border: 0.4em solid  rgb(236, 157, 117);
        border-radius: 0.5em;
        font-size: 1.25em;
        height: max-content;
        margin: 1em auto;
        width: 80%;
        display: block;
    }  
}

.pannel-form{
    display: none;
}
.pannel-form.active{
    display: block;

}

.form_group {
    margin:1em auto;
    width: 90%;
    }

.form_label {
    margin-bottom: 1em;
    width: 100%;
    }

.form_label label {
    color: rgb(25, 23, 22);
    font-weight: bold;
    width:100%; 
    margin: 0.2em;
    }


.form_input input {
    width:90%;
    margin: 0.2em;
    }
.input-highlight{
    width: 100%;
}
.form_input textarea {
    height: max-content;
    width:100%;
    }

.form-topbar-options{
    display: none;
    }

.form-topbar-options.active{
    background-color: rgb(236, 157, 117);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    display:block;
    position: absolute;
    top: 6.5em; right:5.5em;
    transition: 0.5s;
    width: 15%;
    z-index: 10;
    position: fixed;
    ul{
        margin:0;
        padding:0;
        width: 100%;
        word-break: break-word; 
    }

    li{
        background-color: rgb(236, 157, 117);
        font-weight: bold;
        padding:0.5em 0 0.5em 0.5em;
        width: 100%;
        cursor: default;
    }

    li:hover {
        background-color: rgb(130, 138, 149);
    } 
    }
        
.send {
    margin: 1em;
    button{
        height: 1.5em;
    }

    button:hover{ 
        background-color:rgb(241, 131, 75) ;
        border: 0.1em solid rgb(25, 23, 22);
        border-radius: 0.2em;
    }
}

.form-buttons{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 1.5em;
    margin: 0.5em;
    align-items: center;
    width: 100%;
    .send{
        height: 1em;
    }
    .switch{
        position: relative;
        bottom: 0.75em;
    }
    .button-create{
        margin:0.5em;
    }
}
