.form{
    background-color: rgb(216, 209, 205);
    border: 0.4em solid  rgb(236, 157, 117);
    border-radius: 0.5em;
    font-size: 1.5em;
    height: max-content;
    margin: 1em auto;
    transform: rotate(180deg);
    width: 90%;
}

.form_group {
    margin:1em auto;
    width: 90%;
    }

.form_label {
    margin-bottom: 1em;
    width: 100%;
    }

.form_label label {
    color: rgb(25, 23, 22);
    font-weight: bold;
    width:100%;    
    }


.form_input input {
    width:100%;
    }

.form_input textarea {
    height: max-content;
    width:100%;
    }

.form_submit {
    margin: 1em;

    button:hover{ 
        background-color:rgb(241, 131, 75) ;
        border: 0.1em solid rgb(25, 23, 22);
        border-radius: 0.2em;
    }
}

