.table{
  height: max-content;
  width: 90%;
  display: none;

  &.active{
      display: block;
      border: 0.2em solid rgb(236, 157, 117);
      border-radius: 0.2em;
      color: rgb(25, 23, 22);
      height: max-content;
      margin: 1em auto;
      width: 90%;
  }
}

.table-content{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row-header{
  font-size: 1em;
  font-weight: bold;
  background-color:rgb(216, 209, 205) ;
  display: flex;
  flex-direction: row;
}
.row-title{
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  background-color:rgb(236, 157, 117);
}
.table-row {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  border-top: 1px solid hsl(0, 0%, 73%);
  min-height: 10vh;
  position: relative;  
  text-align: left;
}
.column{
  margin: 0.5em 1em;
}

.content {
    padding: 32px;
    box-sizing: border-box;
    display: row;

    overflow: hidden;
  }

  .swipe-element {
    position: relative;

    width: 100%;
    height: max-content;
  }

  .swipe-front {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;

    margin: 0;
    padding: 8px;
    box-sizing: border-box;

 
  }

  
.table-field-container{
  background-color: white;
  min-height: 10vh;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  width: 100%;
  z-index: 999;
  display: flex;
}
.table-field{
  margin: 0.5em;
  white-space: nowrap; 
  justify-content: space-evenly;
  flex-grow: 2;
}

.table-icons-container{

  position: absolute;
  width: 100%;
  z-index: 997;

  .table-icons{

      display: none;
      min-height: 10vh;

      svg{
          height: 1.5em;
          width: 1.5em;
  
          path{
              fill: hsl(0, 0%, 100%);
          }
      }
  }

  .table-icons#swipe-active{
      display: block;
  }

  .table-icons.edit-button{

     background-color: rgb(170, 233, 170);
     text-align: left;

      svg{
          margin-left: 1em;
          margin-top: 1em;
      }

  }
  
  .table-icons.delete-button{

      background-color: hsl(0, 65%, 73%);
      text-align: right;

      svg{
          margin-right: 1em;
          margin-top: 1em;
      }
  }
}
