body {
  background-color: #828a95;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.table-filter {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  width: 100%;
  z-index: 10;
}
.table-filter.filter-active .table-filter-container {
  max-height: 70vh;
  background-color: #ec9d75;
  position: fixed;
  top: 0;
}
.table-filter .filter-form {
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
}
.table-filter .table-filter-container {
  max-height: 0;
  overflow: hidden;
  width: 100%;
  padding-left: 4em;
}
.table-filter .table-filter-container form {
  padding: 1em;
}
.table-filter .table-filter-buttons {
  width: 100%;
}
.table-filter .table-filter-buttons .table-filter-button {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  width: 100%;
  text-align: center;
}
.table-filter .table-filter-buttons .table-filter-button.button-active {
  max-height: 10vh;
  height: 2em;
  padding: 1em 0;
  position: fixed;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.table-filter .table-filter-buttons .table-filter-button.open-filter {
  background-color: #ec9d75;
}
.table-filter .table-filter-buttons .table-filter-button.apply-filter {
  background-color: #b0b0b0;
  height: 2em;
  position: fixed;
  top: 7.5em;
}
.table-filter .table-filter-buttons .table-filter-button.remove-filter {
  background-color: #d74242;
}
.table-filter .table-filter-buttons .table-filter-button svg {
  height: 1.5em;
  padding: 0.5em;
  width: 1.5em;
}
.table-filter .table-filter-buttons .table-filter-button svg path {
  fill: white;
}

.table {
  border: 0.5em solid #ec9d75;
  border-radius: 0.5em;
  color: #191716;
  font-size: 1em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 6em 0.5em;
  width: 60%;
}
.table table {
  border-collapse: collapse;
  width: 100%;
}
.table table td {
  border-collapse: collapse;
  margin: 0.5em auto;
  padding-left: 0.5em;
  text-align: left;
  word-break: break-word;
}
.table table tr td:first-child {
  white-space: nowrap;
  width: 30%;
}
.table table tr td:last-child {
  white-space: nowrap;
  width: 30%;
}
.table table .table-icons-container {
  display: flex;
  justify-content: left;
}
.table th {
  height: 2em;
  text-align: left;
  padding-left: 0.5em;
}
.table tr {
  background-color: #d8d1cd;
}
.table tr:nth-child(even) {
  background-color: #fbfbff;
}
.table tr:hover {
  background-color: #828a95;
}
.table .title {
  background-color: #ec9d75;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
  text-align: left;
  width: 100%;
}

.table-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-header {
  font-size: 1em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  background-color: #d8d1cd;
  justify-content: left;
}

.row-title {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  background-color: #ec9d75;
}

.table-row {
  background-color: white;
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
  min-height: 5vh;
  position: relative;
  width: inherit;
  justify-content: left;
  display: flex;
  flex-direction: row;
}

.column {
  margin: 0.5em;
  width: 25%;
}

.swipe-front {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

.table-field-container {
  background-color: white;
  min-height: 5vh;
  position: absolute;
  touch-action: none;
  width: 100%;
  justify-content: left;
}

.table-field {
  margin: 0.2em;
  white-space: nowrap;
  justify-content: space-evenly;
}

.table-icons-container {
  display: flex;
  justify-content: left;
  width: 20%;
  position: relative;
  left: 35em;
}
.table-icons-container .table-icons {
  position: relative;
  right: 0.5em;
  display: flex;
  justify-content: space-between;
}
.table-icons-container .table-icons svg {
  height: 1.5em;
  width: 1.5em;
}
.table-icons-container .table-icons svg path {
  fill: black;
}
.table-icons-container .table-icons svg path path:hover {
  fill: #f1834b;
}

.form {
  background-color: #d8d1cd;
  border: 0.5em solid #ec9d75;
  border-radius: 0.5em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 6em 0.5em;
  width: 40%;
}

.pannel-form {
  display: none;
}

.pannel-form.active {
  display: block;
}

.form_group {
  width: 90%;
}

.form_group_column {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 0.2em;
       column-gap: 0.2em;
  margin: 0.5em;
  width: 100%;
}
.form_group_column select {
  width: 90%;
}

.form_label {
  margin-bottom: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.form_label label {
  color: #191716;
  font-weight: bold;
  width: 100%;
}

.form_input input {
  width: 90%;
}

.form_input textarea {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

.form_submit {
  margin: 1em;
  width: 20%;
  z-index: 10000;
}
.form_submit button:hover {
  background-color: #f1834b;
  border: 0.1em solid #191716;
  border-radius: 0.2em;
}

.form-topbar-options {
  display: none;
}

.form-topbar-options.active {
  background-color: #ec9d75;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  top: 6.5em;
  right: 5.5em;
  transition: 0.5s;
  width: 15%;
  z-index: 10;
  position: fixed;
}
.form-topbar-options.active ul {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
}
.form-topbar-options.active li {
  background-color: #ec9d75;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  cursor: default;
}
.form-topbar-options.active li:hover {
  background-color: #828a95;
}

.icon {
  position: fixed;
  z-index: 100;
  background-color: #ec9d75;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 1.5em;
  width: 1.5em;
  position: fixed;
  top: 5em;
  right: 5em;
  border-radius: 50%;
}

.icon:hover {
  background-color: #828a95;
}

.icon.active:hover {
  background-color: #828a95;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  left: 23em;
  top: 1em;
  z-index: 2;
}

.form-row-panel {
  display: flex;
  flex-direction: row;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1em 0.5em;
}
.form-row-panel .form-group {
  margin-right: 2em;
}
.form-row-panel .form-group .form-label {
  margin: 0.5em 0;
}

.menu {
  display: flex;
  position: absolute;
  top: 5em;
  left: -100;
  transition: 0.5s;
}
.menu .sidebar {
  font-size: 0;
}
.menu .sidebar.active {
  align-self: left;
  display: flex;
  font-size: 1em;
  justify-content: top;
  transition: 0.5s;
  z-index: 10000;
}
.menu .sidebar.active ul {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
}
.menu .sidebar.active li {
  background-color: #ec9d75;
  font-weight: bold;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  cursor: default;
}
.menu .sidebar.active li:hover {
  background-color: #828a95;
}

.menu.active {
  background-color: #ec9d75;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4em;
  left: 0;
  transition: 0.5s;
  width: 15%;
  z-index: 1005;
}

.menu-icon {
  position: fixed;
  z-index: 11;
  background-color: #ec9d75;
  height: 2em;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icon:hover {
  background-color: #828a95;
}

.menu-icon.active:hover {
  background-color: #828a95;
}

.form-1, .form-2, .form-3 {
  width: 2em;
  height: 0.4em;
  background-color: black;
  margin: 0.3em 0;
  transition: 0.3s;
}

.form-1.active {
  transform: rotate(-45deg) translate(0, 0.5em);
  background-color: white;
}

.form-3.active {
  transform: rotate(45deg) translate(-0.5em, -1em);
  background-color: white;
}

.form-2.active {
  opacity: 0;
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  background-color: #ec9d75;
  font-weight: bold;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 0.75em;
}
.table-pagination p {
  margin: 0.5em 0;
  padding: 0;
}
.table-pagination .table-pagination-button {
  justify-content: space-evenly;
  cursor: pointer;
  margin: 0 0.5em;
}

.messages-container {
  position: fixed;
  top: 2em;
  right: 0.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 30;
}
.messages-container.show {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.messages-container .message {
  display: none;
  text-align: left;
  padding: 1em 0;
  background-color: whitesmoke;
  border-radius: 4px;
  max-width: 100%;
  position: relative;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
.messages-container .message.success.message-active {
  display: block;
  border-left: 0.5em solid #287a28;
}
.messages-container .message.error.message-active {
  display: block;
  border-left: 0.5em solid #7a2828;
}
.messages-container .message .message-content {
  padding-right: 4em;
  padding-left: 2em;
}
.messages-container .message .message-content .message-type {
  color: #3d3d3d;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.messages-container .message .message-content .message-description {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
  color: #878787;
}
.messages-container .message .message-close {
  cursor: pointer;
  fill: #3d3d3d;
  height: 1.5em;
  position: absolute;
  right: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

/* The switch - the box around the slider */
.visible {
  width: 10%;
  height: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-color: #ec9d75;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ec9d75;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ec9d75;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.spinner {
  display: none;
}
.spinner .active {
  margin: auto;
  width: 70px;
  text-align: center;
  position: absolute;
  top: 20em;
  left: 40em;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
.spinner-background {
  background-color: #000000;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}
.spinner-background.overlay-active {
  cursor: pointer;
  display: block;
  opacity: 0.5;
}

.locale-tabs {
  background-color: #f5c8b2;
}

.locale-tabs-container {
  background-color: #f5c8b2;
  display: flex;
  justify-content: space-between;
}

.locale-tabs-container-menu {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.locale-tabs-container-menu ul {
  background-color: #f5c8b2;
  display: flex;
  margin: 0;
  padding: 0;
}
.locale-tabs-container-menu li {
  color: black;
  cursor: pointer;
  padding: 1em 1em;
  text-align: center;
  list-style: none;
}
.locale-tabs-container-menu li.locale-tab-active {
  background-color: #ec9d75;
  color: black;
}

.locale-tab-panel {
  display: none;
}

.locale-tab-panel.locale-tab-active {
  display: block;
}
.locale-tab-panel.locale-tab-active .form-group {
  margin: 1em 0;
}
.locale-tab-panel.locale-tab-active .form-group .form-label {
  margin: 0.5em 0;
}

.upload {
  align-items: center;
  border: 0.2em dashed #ec9d75;
  color: #cccccc;
  cursor: pointer;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  height: 30vh;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

.upload:hover {
  border: 4px dashed #f5c8b2;
}

.upload-over {
  border-style: solid;
}

.upload-view {
  position: relative;
}

.upload-prompt {
  position: absolute;
  width: 15%;
  z-index: 999;
}

.upload-input {
  display: none;
}

.upload-thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.upload-thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.upload-multiple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.see-more {
  position: absolute;
  z-index: 3;
  left: 40%;
  top: 50%;
}
.see-more svg:hover path {
  fill: black;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
}

.tabs-container-menu {
  width: 40%;
  position: static;
  height: 0;
}
.tabs-container-menu ul {
  background-color: #f5c8b2;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2.5em;
  z-index: 0;
}
.tabs-container-menu li {
  color: black;
  cursor: pointer;
  padding: 1em 0.5em;
  text-align: center;
}
.tabs-container-menu li.tab-active {
  background-color: #ec9d75;
  color: black;
}

.tab-panel {
  display: none;
}

.tab-panel.tab-active {
  display: block;
  padding: 2em 2.5em;
}

.image-details {
  display: none;
}
.image-details.active {
  display: flex;
  width: 90%;
  height: 90vh;
  border: 0.5em solid #ec9d75;
  border-radius: 0.5em;
  color: black;
  position: fixed;
  top: 3em;
  left: 3em;
  margin: auto;
  background-color: #d8d1cd;
  z-index: 15;
  box-shadow: 15px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.inputs label {
  justify-content: left;
}

.inputs input {
  width: 100%;
}

.image-view {
  border: 0.2em solid #ec9d75;
  border-radius: 0.2em;
  width: 60%;
  height: 70vh;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.delete-image {
  transform: scale(2.5);
  position: relative;
  top: 15em;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* Container
   ========================================================================== */
.container {
  width: 100%;
  padding: 0;
}

/* Bootstrap */
.navbar-expand-lg {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

label {
  margin-bottom: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

.row {
  margin: 0;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
}
